$rouletteBlue: #282c34;

.App-header {
  background: $rouletteBlue;
  background: -webkit-linear-gradient(to right, $rouletteBlue, #36D1DC);
  background: linear-gradient(to right, $rouletteBlue, #36D1DC);
  text-align: center;
  overflow: hidden;  
  padding: 20px 0 50px;
  box-sizing: border-box;
  display: block;
  @media screen and (max-width: 1000px) {
    padding: 2vh;
  }
}