// $rouletteBlue: #282c34;
$rouletteBlue: #242832;

.App-header {
  background: $rouletteBlue;
  text-align: center;
  overflow: hidden;  
  padding: 20px 0 50px;
  box-sizing: border-box;
  display: block;
  @media screen and (max-width: 1000px) {
    padding: 2vh;
  }
}